body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

h1 {
    margin-top: 0;
}

h1, h2 {
    font-family: Optima, "Zapf Humanist", "MgOpen Cosmetica", Candara, Myriad, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Frutiger, "Trebuchet MS", sans-serif;
}

label {
    display: none;
}

/* About page */
#back {
    float: right;
    margin-top: -3em;
    margin-right: 2em;
}

#credits {
    clear: both;
    padding: 0 2em;
}

.half {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 2em;
}

blockquote {
    margin: 0;
}

blockquote .img {
    float: left;
    margin: 0 1em 0 0;
}

.img {
    float: right;
    padding: 0.5em;
    border: solid 1px #ccc;
    margin: 0 0 0 1em;
}

/* Slider */

.ui-slider {
    margin: 0 0 4em 8.5em;
    z-index: 100;
}

#date_slider {
    font-size: 70%;
}

.ui-slider dt {
    background-color: white;
    height: auto;
    border-bottom: none;
    padding-bottom: 0.2em;
    top: 0;
}
.ui-slider dt:nth-of-type(odd) {
    background-color: #666;
}
.ui-slider dt:nth-of-type(odd) span {
    background-color: #666;
    color: white;
}

/* Map */

#map {
    clear: both;
    position: absolute;
    width: 1180px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-left: -590px;
    margin-top: -270px;
}

/* Play/pause */

#controls {
    float: left;
}

#controls button {
    margin-bottom: 2px;
}

